
<div class="blog-post">

  <h2 class="blog-post-title"><%=link_to  market_study.title, market_study %></h2>
  <p class="blog-post-meta"><%= time_ago_in_words(market_study.created_at) %> ago by <a href="#"><%= market_study.user.email rescue 'unknown' %></a></p>

  <% if user_signed_in? and current_user.is_admin? %>
  <div >
    
    <%= link_to 'Show'   , market_study , :class =>"btn btn-info btn-xs"%>
    <%= link_to 'Edit'   , edit_market_study_path(market_study) , :class =>"btn btn-info btn-xs"%>
    <%= link_to 'Destroy', market_study, :class =>"btn btn-info btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>
 <!--  <p >
  <span class="pull-right"><%#= link_to "Download Full Chart", download_image_path(:id => market_study.id) %></span>
  </p> -->
 
  <% market_study.content = market_study.content.gsub("<img", "<img class = 'market_image ms_hide'") %>
  <p>
   <% if params[:action] == "index" %>
    <%= market_study.content[0..150].gsub(/\s\w+\s*$/,'...').html_safe  %><span class = "read_more pull-right"><%= link_to 'read more >>>', market_study %></span>
   <% else %>
    <%= market_study.content.html_safe %> 
   <% end %>
  </p>
</div><!-- /.blog-post -->




