<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<%#= debugger %>
<div class="row">
  <div class = "col-md-12 col-md-offset-5" >
        <%= form_tag market_internals_path, :method => 'get' , :id => 'date_field' do %>
        <span>Pick date to search in archives</span>
        <p>
          <%= hidden_field_tag "category_id", params[:category_id] if params[:category_id].present? %>
          <%= text_field_tag :date, @date, id: 'datepicker', :required => true %>
         
           <%= submit_tag "Search", :name => nil %>
        </p>

        <% end %>
  </div>
</div>
<br>
<hr>
<table id="eodTable" class="display" cellspacing="0" width="100%">     
  <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @market_internals.each do |m| %>
      <tr>
       
        <td><%= m.txt %></td>
        <td><%= m.value %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<script type="text/javascript">
 $(document).ready(function() {
  /* datatable */
  $('#eodTable').DataTable({
         "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
      });
  } );

 /* datepicker */
 $( "#datepicker" ).datepicker({ dateFormat: 'dd/mm/yy' });

</script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>