<!--
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
-->


    <div class="container">    
        <div id="signupbox"  style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <div class="panel-title">Sign Up</div>
              </div>  
              <div class="panel-body" >
               <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-horizontal") do |f| %>
                    
                    <%#= render :partial => "print" %>
                      
                    <div class="form-group">
                       
                        <div class="col-md-12">
                           <%= f.email_field :email, autofocus: true , placeholder: "Email", class: "form-control"%>
                        </div>
                    </div>

                    <div class="form-group">
                       
                        <div class="col-md-12">
                           <%= f.text_field :username, autofocus: true , placeholder: "Fullname", class: "form-control"%>
                        </div>
                    </div>
                        
                    <div class="form-group">
                       
                        <div class="col-md-12">
                              <% if @minimum_password_length %>
                                <em>(<%= @minimum_password_length %> characters minimum)</em>
                              <% end %><br />
                              <%= f.password_field :password, autocomplete: "off", placeholder: "Password",class: "form-control" %>
                        </div>
                    </div>
                    <div class="form-group">
                       
                        <div class="col-md-12">
                            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "form-control" %>
                        </div>
                    </div>
                   


                    <div class="col-xs-12 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><input type="radio" name="optradio">
                    <h3 class="panel-title">
                       Monthly</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            $60<span class="subscript">/mo</span></h1>
                        <small></small>
                    </div>
                    
                </div>
                <div class="panel-footer">
                    
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-success">
                <div class="cnrflash">
                    <div class="cnrflash-inner">
                        <span class="cnrflash-label">15%
                            <br>
                            DISCOUNT</span>
                    </div>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Yearly</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            $612<span class="subscript">/year</span></h1>
                        <small></small>
                    </div>
                   
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>






                    <div class="form-group">
                        <!-- Button -->                                        
                        <div class=" col-md-12">
                          <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
                        </div>
                    </div> 
                    <div class="form-group">
                        <!-- Button -->                                        
                        <div class=" col-md-12">
                            <div style="border-top: 1px solid#888; margin-top:25px; font-size:85%" >
                           Already have an account?
                          <!--<a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                              Sign Up Here
                          </a>-->
                          <%= render "devise/shared/links" %>
                        </div>
                        </div>
                    </div> 

                <% end %>
               </div>
          </div>
         </div> 
    </div>


    <style type="text/css">
    .panel
{
    text-align: center;
}
.panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }
.panel-body
{
    padding: 0px;
    text-align: center;
}

.the-price
{
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
}

.the-price h1
{
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.subscript
{
    font-size: 25px;
}

/* CSS-only ribbon styles    */
.cnrflash
{
    /*Position correctly within container*/
    position: absolute;
    top: -9px;
    right: 4px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding      to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}
.cnrflash-inner
{
    /*Set position, make larger then      container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 145px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%;  /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after
{
    /*Use the border triangle trick to make         it look like the ribbon wraps round it's        container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid #800000;
}
.cnrflash-inner:before
{
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cnrflash-inner:after
{
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.cnrflash-label
{
    /*Make the label look nice*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}
</style>
    