

<%#= link_to 'Edit', edit_graph_path(@graph) %> 
<%#= link_to 'Back', graphs_path %>



<div class="row">
	<div class="col-md-2 well">
		<center><strong>Graph Info</strong></center><hr>
		<ul class="list-group">
		    <li class="list-group-item"><strong>Name:</strong><%= @graph.name %></li>
		    <!-- <li class="list-group-item"><strong>Open-col:</strong><%#= @category.open_colname %></li>
		    <li class="list-group-item"><strong>Close-col:</strong><%#= @category.close_colname %></li>
		    <li class="list-group-item"><strong>High-col:</strong><%#= @category.high_colname %></li>
		    <li class="list-group-item"><strong>Low-col:</strong><%#= @category.high_colname %></li>
		    <li class="list-group-item"><strong>SP-col:</strong><%#= @category.sp_x_colname %></li> -->
		 </ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
		<div class="panel-heading"><strong>Adts Table</strong><span class = "pull-right"><%= link_to 'Create Adt', new_category_graph_adt_path(@category,@graph) %></span></div>

		<div class="panel-body">
			<table class="table table-bordered">
				<thead>
				  <tr>
				    <th>Name</th>
				    <th>Sheetname</th>
				    <th>X Colname</th>
				    <th>Y Colname</th>
				    <th>Y Legend</th>
				    
				    
				    <th></th>
				    <th></th>
				    <th></th>
				  
				  </tr>
				</thead>
				<tbody>
				 <% @graph.adts.each do |adt| %>
				  <tr>
				  	<td><%= adt.name %></td>
				  	<td><%= adt.sheetname %></td>
				  	<td><%= adt.x_colname %></td>
				  	<td><%= adt.y_colname %></td>
				  	<td><%= adt.y_legend %></td>
				  	
				  	<td><%= link_to 'Edit', edit_category_graph_adt_path(@category,@graph,adt) %></td>
				  	<td><%= link_to 'Update', category_graph_adt_update_data_path(@category,@graph,adt) %></td>
				  	<td><%= link_to 'Destroy', category_graph_adt_path(@category,@graph,adt), method: :delete, data: { confirm: 'Are you sure?' } %></td>
				  	
				  </tr>
				  <% end %>
				</tbody>
			</table>
		</div>
		</div>
	 

	</div>
</div>
<%= link_to 'Back', categories_path %>

<style type="text/css">
	.container-content {
    width: 1370px;
}
</style>


