<div class="blog-post">

  <h2 class="blog-post-title"><%=link_to  @general_market_study.title, @general_market_study %></h2>
  <p class="blog-post-meta"><%= time_ago_in_words(@general_market_study.created_at) %> ago by <a href="#"><%= @general_market_study.user.email rescue 'unknown' %></a></p>

  <% if user_signed_in? and current_user.is_admin? %>
  <div >
    
    <%= link_to 'Show', @general_market_study , :class =>"btn btn-info btn-xs"%>
    <%= link_to 'Edit'   , edit_general_market_study_path(@general_market_study) , :class =>"btn btn-info btn-xs"%>
    <%= link_to 'Destroy', @general_market_study, :class =>"btn btn-info btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>
 
  <p>
    <%= @general_market_study.content.html_safe %> 
  </p>
</div><!-- /.blog-post -->




