  
<div class="profile-sidebar">
  
  <div class="profile-usertitle">
    <div class="profile-usertitle-name">
      <%= current_user.username %>
    </div>
    <div class="profile-usertitle-job">
      Subscribed at <br>
      <p><%= current_user.transactions.where('txn_type=?', "subscr_signup").last.created_at.to_date rescue '-'%></p>
      <span class="label label-info" style="background-color:#F1F3FA"><%= link_to 'Edit', edit_user_registration_path(@users) %></span>
       
    </div>
  </div>
  <div class="profile-usermenu">
		<ul class="nav ">
			<li class="<%= profile_active_link(user_path(current_user)) %>">
        <%= link_to  user_path(current_user) do%>
          <i class="glyphicon glyphicon-user"></i>Profile
        <% end %>
           
			</li>
      <li class="<%= profile_active_link(show_paypal_info_path) %>">
        <%= link_to  show_paypal_info_path do%>
          <i class="glyphicon glyphicon-credit-card"></i>Paypal
        <% end %>
           
      </li>
      <li>
      
      </li>
		</ul>
	</div>
	<!-- END MENU -->
	
</div>
	
  