

<div class="nav-side-menu">
    <div class="brand"  >Categories</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list" data-step="1" data-intro="Pick your Category from here">
            <ul id="menu-content" class="menu-content collapse out">
              <% if @categories.present? %>
                <% @categories.each do |cat| %>
                  <li class = <%= ic_sidebar_link_class( cat.name,show_by_category_path(cat))  %>>
                    <a href="#">
                      <i class="fa fa-area-chart"></i> <%= link_to cat.name, show_by_category_path(cat) %>
                    </a>
                  </li>
                <% end %>
               <% end %>
               
            </ul>
     </div>
</div>
<br><br><br>

<%#= debugger %>

<div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" data-step="2" data-intro="Show/Hide Specific graphs of selected category from here">
               
                <div class="panel-heading panel-heading-custom">Hide/Show Graphs</div>
            
                <ul class="list-group" id = "switch_graph_list">
                  <% if @selected_category.present? and @selected_category.graphs.present? %>
                  <% @selected_category.graphs.each do |graph| %>
                    <li class="list-group-item">
                          <%= graph.name %>
                          <div class="material-switch pull-right">
                              <input id=<%= graph.id%> name="someSwitchOption001" type="checkbox" checked/>
                              <label for=<%= graph.id%> class="label-info"></label>
                          </div>
                    </li>
                 
                  <% end %>
                 <% end %>  
                </ul>

            </div>            
        </div>
</div>
<br><br><br>



<script type="text/javascript">
  $('input[type="checkbox"]').change(function() {
    //alert('changed');
    //alert ("The element with id " + this.id + " changed.");
    var divName = "#container_graph"+ this.id ;
    //alert(divName);
     $(divName).toggle();
  });
</script>

<style type="text/css">
  .material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
</style>