<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

<% content_for :head do %>
    <%= stylesheet_link_tag  'interactive_charts', media: 'all' %>
<% end %>


<div class="row">

	<div class="col-md-12">
      <table id="example" class="display" cellspacing="0" width="100%">
       <col width="400">
       <col width="300">
       <col width="300">
        <thead>
          <tr>
              <th>Indicator</th>
              <th>Category</th>
              <th>Period</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
        <% @graphs.each do |graph| %>
            <tr>
                <td><%= graph.name %></td>
                <td><%= graph.category.try(:name) %></td>
                <td><%= graph.period %></td>
                <td><center>
                <a href = "#" data-toggle="modal" class="btn btn-info btn-xs" data-target="#demo"><i class="fa fa-line-chart" aria-hidden="true"></i> See Chart </a>
                </center></td>
            </tr>
          
        <% end %>
        </tbody>
        </table>
	</div>
</div>


<%= render :partial => "chart_modal" %>


<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>


<script type="text/javascript">
    $(document).ready(function() {
       $('#example').dataTable( {
    "aoColumnDefs": [
      { "bSortable": false, "aTargets": [ 3 ] }
    ] } );


    } );
</script>