  
 <br>


<%= form_for [@category,@graph,@adt] do |f| %>
  <% if @adt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adt.errors.count, "error") %> prohibited this graph from being saved:</h2>

      <ul>
      <% @adt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :name %>
 	  <%= f.text_field :name, class:  "form-control field" %>

    <%= f.label :x_colname %>
    <%= f.text_field :x_colname, class:  "form-control field" %>

    <%= f.label :y_colname %>
    <%= f.text_field :y_colname, class:  "form-control field" %>

    <%= f.label "Legend Name" %>
    <%= f.text_field :y_legend, class:  "form-control field" %>

    <%= f.label :color_y %>
    <%= f.color_field :color_y,class:  "form-control field " %>

    <%= f.label :graph_type %>
    <%= f.select :graph_type, ['line', 'column'] %><br><br>
    
  

    <%= f.submit "Save" %>
  </div>
<% end %>


