<div class="blog-post">
  <h2 class="blog-post-title"><%= commentary.title %></h2>
  <p class="blog-post-meta"><%= time_ago_in_words(commentary.created_at) %> ago by <a href="#"><%= commentary.user.email %></a></p>
  <% if user_signed_in? and current_user.is_admin? %>
  <div >
    <%= link_to 'Show', commentary , :class =>"btn btn-info btn-xs"%>
    <%= link_to 'Edit', edit_commentary_path(commentary) , :class =>"btn btn-info btn-xs"%>
    <%= link_to 'Destroy', commentary, :class =>"btn btn-info btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>
  <p>
    <%= commentary.body[0..150].gsub(/\s\w+\s*$/,'...').html_safe  %><span class = "read_more"><%= link_to 'read more >>>', commentary %></span>
  </p>
</div><!-- /.blog-post -->