<div class="nested-fields well row">
<h2 ><span class= "label label-info">New Graph Form</span></h2>
<hr>
 <%= f.label :name %>
 <%= f.text_field :name, class:  "form-control field" %>

 <%= f.label :Sheetname %>
 <%= f.text_field :sheetname, class:  "form-control field" %>

 <%= f.label :X_column_name %>
 <%= f.text_field :x_colname, class:  "form-control field" %>

 

  <div class="col-md-6">
  	 <%= f.label "Dataset1 Column Name" %>
	 <%= f.text_field :y1_colname, class:  "form-control field" %>
	  <%= f.label "Dataset1 Legend Name" %>
	 <%= f.text_field :y1_legend, class:  "form-control field" %>
	 <%= f.color_field :color_y1 %>
 </div>

 
  	<div class="col-md-6">
  		 <%= f.label "Dataset2 Column Name" %>
		 <%= f.text_field :y2_colname, class:  "form-control field" %>
		 <%= f.label "Dataset2 Legend Name" %>
		 <%= f.text_field :y2_legend, class:  "form-control field" %>
		 <%= f.color_field :color_y2 %>
		 <div class="example">
<!-- <form method="get">
   
    <input type="color" name="color2" value="#3355cc">
    
</form> -->
    </div>
 	</div>
 <br>
 <%= link_to_remove_association "remove graph", f %>
</div>
