<!-- <p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
       

        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
 -->

 <% content_for :head do %>
    <%= stylesheet_link_tag  'categories', media: 'all' %>
<% end %>
<div class="container-content panel panel-default">
  <div class="panel-heading">Categories <span class = "pull-right"><%= link_to 'New Category', new_category_path %></span></div>
  <div class="panel-body">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Sheetname</th>
        <th>Open Col</th>
        <th>Close Col</th>
        <th>High Col</th>
        <th>Low Col</th>
        <th>Sp Graph X Col</th>
        
        <th></th>
        <th></th>
        <th></th>
       
      </tr>
    </thead>
    <tbody>
     <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
       <td><%= category.sheetname %></td>
       <td><%= category.open_colname%></td>
       <td><%= category.close_colname%></td>
       <td><%= category.high_colname%></td>
       <td><%= category.low_colname%></td>
       <td><%= category.sp_x_colname%></td>

        <td><%= link_to 'Show', category %></td>
        
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>


  
