<!DOCTYPE html>
<html>

<head>
  <title>Dev</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>

<body>
<div class="container" style="margin-top:3px;">
  <div class = 'row' id = "header-top" >
    <div class="col-md-4 links">
      <span><i class="fa fa-twitter" aria-hidden="true"></i><%= link_to "@indextresearch", 'https://twitter.com/IndextResearch', :target => "_blank"%></span> &nbsp;&nbsp;&nbsp;
      <span><i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp;<%= mail_to "info@indextresearch.com" %></span>
    </div>
    <div class="col-md-4  col-md-offset-0 md-center"><%= link_to image_tag('indexT-circle.jpg'),root_path %></div>
    <div class="col-md-4  col-md-offset-0 links md-center">
      <% if current_user.present? %>
        <span>Signed in as <span class = "site-label"><%= current_user.email %>
        </span></span>

        <span class="dropdown navbar-right">
          <a class=" "  data-toggle="dropdown"><i class="fa fa-cog" aria-hidden="true"></i>
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "MyAccount", user_path(current_user),:class => ""%></li>
            <li><%= link_to "Log out", destroy_user_session_path,:class => "", :method => :delete %></li>
           
            <% if current_user.is_admin? %>
              <li class="divider"></li>
              
              <li><%= link_to "Create Market Study", new_market_study_path,:class => ""%></li>
              <li><%= link_to 'Create Market Internal', new_market_internal_path %></li>
              <li><%= link_to 'Create General Market Study', new_general_market_study_path %></li>
              <li><%= link_to 'Categories', categories_path %></li>
              <li><%= link_to "Panel", admin_dashboard_path,:class => ""%></li>
            <% end %>
          </ul>
        </span>

       <% else %>
       <%= render :partial => "devise/sessions/nav_login_form" %>
     
      <% end %>
    </div>
    </div>
</div>

<hr class="hr">

  <div class="container">
    <div class="row">
      <div id = "logo" class="md-center">
        <%= link_to image_tag('indext-logo2.jpg'),root_path %>
      </div>
    </div>
  </div>

  <br>

  <div id = "nav">
   <center>
      <nav class="blog-nav">
            <%= nav_link 'Market Studies', root_path %>
            <%= nav_link 'Active Studies', active_studies_path %>
            <% if Category.first.present? %>
            <%= nav_link 'Interactive Charts', show_by_category_path(Category.first.try(:id)) %>
            <% end %>
            <%= nav_link 'Market Internals', market_internals_path %>
            <%= nav_link 'General Market Studies', general_market_studies_path %>
            <%#= nav_link 'Interested?', interesteds_path %>
            <%= nav_link 'Contact Us', contact_us_path %>
      </nav>
    </center>
  </div>

  <% if params["controller"] == "interactive_charts" %>
     <div id = "nav">
     <center>
        <nav class="blog-nav">
          <% if @categories.present? %>
            <% @categories.each do |cat| %>
              <%= link_to cat.name, show_by_category_path(cat), class:'blog-nav-item ' + ic_sidebar_link_class( cat.name,show_by_category_path(cat))  %>
            <% end %>
          <% end %>
        </nav>
      </center>
    </div>
  <% end %>



  
  <div class="container-content">
    <div class="row">
    	<%= render :partial => "/print_flash_messages" %>
    </div>

    <!-- ONly for Admin panel -->
    <% if  (params["controller"] == "categories" and params["action"] != "index") or params["controller"] == "graphs" or params["controller"] == "adts" %>
      <ol class="breadcrumb">
       <%= render_breadcrumbs :tag => :li, :separator => "" %>
      </ol>
    <% end %>
    <!-- end breadcrumbs -->

     <%= yield %>
  </div>

  <footer class="footer">
    <div class="container">
      <span class=""><i class="fa fa-copyright" aria-hidden="true"></i> &nbsp;Copyright 2016 Index Research, LLC. All Rights Reserverd
      </span>
      <span class="pull-right" style = "left:-50px;"><a href="#" data-toggle="modal" data-target="#policy">Privacy Policy & Terms of Use</a> | <a href = "#" data-toggle="modal" data-target="#disclaimer">Disclaimer </a>
      </span>
    </div>
   
  </footer>
 <%= render :partial => "shared/terms_modal" %>
  



</body>
</html>
